@import "mixins.less";
@import "variables.less";

.btn-light {
	padding: 8px 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #d4d4d4;
	background-color: @light;
	color: @baseBg;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	transition: border .2s;

	> .fa {
		font-size: 100%;
	}

	&:hover {
		border-color: @baseBg;
	}
}

.btn-group {
	position: relative;
	font-family: @fontFamilySecondary;
	padding: 8px 75px 8px 28px;
	color: @light !important;
	border: 0;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	background-color: @baseBg;
	text-transform: uppercase;
	box-shadow: 5px 6px 20px @shadowColor;
	margin-bottom: 30px;

	> .group {
		position: absolute;
		width: 50px;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: @light;
		line-height: 45px;
	}

	&.light {
		font-size: 18px;
		color: @baseBg !important;
		background-color: darken(@light, 10%);
		box-shadow: 5px 6px 20px #333;
		margin: 0 !important;

		> .group {
			line-height: 40px;
		}
	}
}