@-moz-document url-prefix() {
    #content {
    	.brand-items-panel {
    		.item-list-panel {
    			.brand-item {
    				> a {
    					img {
    						width: 100%;
    					}
    				}
    			}
    		}
    	}

    	.other-brands-panel {
    		.content {
    			.brands-slider {
    				.item {
    					a {
    						> img {
    							width: 100%;
    						}
    					}
    				}
    			}
    		}
    	}
    }
}