@import "variables.less";
@import "mixins.less";
@import "button.less";
@import "question.less";

/* Custom container */
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.highlight {
	color: @baseBg;
	font-weight: 700;
}

.light {
	background-color: @light;
}

.gray {
	background-color: #ebf0f8;
}

.gray-color {
	color: @baseColor;
	font-weight: normal;
}

.small-font {
	p {
		font-size: 14px;
	}
}

.container-full {
  margin: 0 auto;
  width: 100%;

  >.row {
  	margin-left: 0;
  	margin-right: 0;
  }
}

.wrapper-panel {
	position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.row.table-row {
    display: table;
    width: 100%;
    margin: 0 auto;

    > [class*="col-"] {
    	position: relative;
	    float: none;
	    display: table-cell;
	    vertical-align: top;
	    padding-left: 65px;
	    padding-right: 65px;

	    &.middle {
	    	vertical-align: middle;
	    }

	    &.bottom {
	    	padding-bottom: 30px;
	    	vertical-align: bottom;
	    }

	    &.top {
	    	padding-top: 155px;
	    }
	}
}

.quiz-bg {
	background-size: cover;

	&.q1 {
		background-image: url(../img/quiz-1.png);
	}

	&.q2 {
		background-image: url(../img/quiz-2.png);
	}

	&.q3 {
		background-image: url(../img/quiz-3.png);
	}

	&.q4 {
		background-image: url(../img/quiz-4.png);
	}
}

.transparent {
	background-color: rgba(255, 255, 255, 0.9);
}

[class*="col-"] {
	&.padding {
		padding-top: 135px;
	}
}

.content {
	position: relative;
	text-align: center;
	padding: 0 20px;
	min-height: 200px;

	.content-body {
		padding: 10px 0;
		margin-bottom: 20px;
	    // max-height: 445px;
	    overflow-y: hidden;
	    overflow-x: hidden;

	    iframe {
	    	margin-bottom: 15px;
	    }

	    a {
	    	font-family: @fontFamilyPrimary;
	    }
	}

	.content-footer {

	}
}

.play-vd {
	display: block;
	color: @light;
	font-family: @fontFamilyPrimary !important;
	font-size: 20px;
	max-width: 50%;
	text-align: right;
	transition: all .2s;
	> .fa {
		margin-right: -40px;
		font-size: 80px;
		vertical-align: middle;
	}

	&:hover {
		color: @light;
		text-shadow: 2px 2px 10px @shadowColor;
	}

	&:active, &:focus {
		&:extend(.play-vd);
	}
}

#vd-player {
	display: none;
	position: absolute;
	background-color: #000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: 9999;

	.vd-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;

		a {
			color: @light !important;
		}

		> img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}

		.btn-vd-play {
			position: absolute;
		    font-size: 80px;
		    left: 50%;
		    top: 50%;
		    z-index: 3;
		    transform: translate(-50%, -50%);
		}
	}

	.vd-container {
		height: 100%;
	}

	.vd-close {
	    position: absolute;
	    right: 20px;
	    top: 20px;
	}

	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.choice-opt {
	display: inline-block;
	margin: 20px 0;
	padding: 20px 0;
	text-align: center;

	.slider-opt {
		display: inline-block;
		position: relative;

		> img {
			width: 383px;
		}

		input[type="range"] {
			-webkit-appearance: none;
			position: absolute;
			display: inline-block;
			outline: none;
			background-color: transparent;
			width: 300px;
			bottom: -2px;
			left: 50%;
			opacity: 0;
			visibility: visible;
			cursor: pointer;
			transform: translateX(-49.5%);
		}

		&.center:before, &.left:before, &.right:before {
			content: '';
			position: absolute;
			bottom: -12px;
			left: 50%;
			background-image: url(../img/thumb-range.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 30px;
			height: 36px;
			transition: all .5s ease;
			transform: translateX(-50%);
		}

		&.left:before {
			transform: translateX(-525%);
		}

		&.right:before {
			transform: translateX(455%);
		}
	}
}

.option-label {
	    display: inline-block;
	    width: 460px;
	    margin: 20px 0 0;
	    padding: 0;

	> li {
		display: inline-block;
	    width: 150px;
	    padding: 0 10px;
	    vertical-align: top;
	}
}

.banner-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 154px;
	overflow: hidden;

	> img {
	    width: 100%;
	    max-width: 100%;
	    max-height: 100%;
	    object-fit: cover;
	}
}

.header-cup {
	> .avatar {
	    height: 65px;
	    width: 65px;
	    padding: 2px;
	    border: 1px solid #fff;
	    background-color: #FFF;
	    border-radius: 50%;
	    margin-top: -35px;
	    margin-bottom: 20px;
	    box-shadow: 2px 2px 15px #8E8E8E;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 10px;
	}

	.label {
		position: relative;
		display: inline-block;
		padding: 0;
		font-size: 20px;
		color: #6a6a6a;
		border-radius: 0;

		&:before, &:after {
		    content: '';
		    position: absolute;
		    top: 50%;
		    left: 120%;
		    height: 1px;
		    width: 150px;
		    background-color: #a1a1a1;
		}

		&:after {
			left: initial;
			right: 120%;
		}
	}
}

ul {

	&.social-share {
		> li {
			text-transform: uppercase;
			padding: 0 40px;
			text-align: center;

			a {
				font-weight: 700;
			}

			 img {
			 	margin-left: 20px;
			 }

			 + li {
			 	border-left: 2px solid @baseBg;
			 }
		}
	}
}

#form-submit {
	position: relative;
	display: block;
}

.form-panel, .preview-form {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transform: translateX(700px);
	transition: all .5s ease-in-out;

	&.show {
		opacity: 1;
		transform: translateX(0);
	}
}

.form-panel {
	.input-group-addon {
		font-family: @fontFamilySecondary;
		border: 0 !important;
		border-radius: 0 !important;
		background-color: @baseBg;
		color: @light;
		min-width: 39px;
		text-transform: uppercase;
		font-weight: 700;

		&.light {
			background-color: @light;
			vertical-align: top;
			padding-left: 0;
			padding-right: 20px;

			> img {
				max-width: 19px;
			}
		}
	}

	.form-control {
		font-family: @fontFamilyPrimary;
		font-size: 16px;
		background-color: #ebf0f8;
		border-radius: 0 !important;
		color: @baseColor;
		border: 0 !important;
		box-shadow: none !important;
	}

	.form-control-static {
		&:extend(.form-panel .form-control);
		padding: 6px 12px; 
	}

	.browse-image {
		position: relative;

		input[type="file"] {
			position: absolute;
			opacity: 0;
			visibility: visible;
			top: 0;
			bottom: 0;
			left: 39px;
			width: 93%;
			cursor: pointer;
		}
	}
}

.preview-form {
	.img-container {
		display: inline-block;
		text-align: center;
		border: 0;
		width: 350px; 
		max-height: 200px;
		margin-bottom: 20px;
		overflow: hidden;

		> img {
			display: inline-block;
			max-width: 100%;
		}
	}

	.desc-preview {
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #ccc;
		text-align: center;
		height: 150px;
		padding: 10px 40px;
		margin-bottom: 20px;
		overflow: hidden;

		p {
			margin-top: 20px;
		}
	}
}

.gallery-wrapper {
	text-align: center;

	.title {
		display: inline-block;
		margin-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #a6a6a6;
	}

	.filter-panel {
		color: @baseBg;
		font-family: @fontFamilySecondary;
		font-size: 14px;
		font-weight: 700;
		text-transform: capitalize;
	}

	.gallery-filter {
		display: inline-block;
		text-align: center;

		> li {
			color: @baseColor;
			width: 80px;
			cursor: pointer;

			&.active {
				color: @baseBg;
			}
		}
	}

	.aspiration-gallery {
		overflow: hidden;

		> .quiz-wrapper {
			padding: 15px;

			.wrapper {
				display: table-cell;
				padding: 5px;
				background-color: @baseBg;
				font-size: 14px;
				color: @light;
				vertical-align: middle;

				> h4 {
					color: @light;
				}
			}
		}

		> .gallery-view {
			padding: 15px;
			position: relative;
			display: none;

			> img {
				width: 100%;
				height: 100%;
				max-height: 100%;
				max-width: 100%;
				object-fit: cover;
			}

			.caption {
				position: absolute;
				background-color: #f1f1f1;
				font-size: 14px;
				padding: 10px;
				height: 60px;
				bottom: 15px;
				left: 15px;
				right: 15px;
				transition: all .5s; 

				.author-panel {
					text-align: left;
					height: 60px;
					font-size: 12px;
					margin-bottom: 10px;

					> img {
						padding: 3px;
						background-color: @light;
						border-radius: 50%;
						width: 40px;
						height: 40px;
						margin-right: 15px;
					}
				}

				.desc {
					visibility: hidden;
					opacity: 0;
					height: 30%;
					overflow: hidden;
					transition: all .2s;
				}

				&:before {
					content: '';
					background-image: url(../img/orange-arrow.png);
					background-repeat: no-repeat;
					height: 30px;
					width: 30px; 
					position: absolute;
					color: #f4ad4a;
					top: -15px;
					left: 50%;
					transform: translateX(-50%);
					transition: all .5s;
				}

				&:hover {
					height: 70%;
					background-color: rgba(241, 241, 241, 0.84);

					.desc {
						opacity: 1;
						visibility: visible;
						transition: all 1s;
					}

					&:before {
						transform: translateX(-50%) rotate(180deg);
					}
				}
			}

			&.pregnancy {
				.caption {
					&:before {
						background-image: url(../img/blue-arrow.png);
					}
				}
			}

			&.baby {
				.caption {
					&:before {
						background-image: url(../img/green-arrow.png);
					}
				}
			}
		}
	}
}