@import "variables.less";
@import "mixins.less";

/* Custom navbar */
.navbar {
	position: absolute;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: all .2s;

	.navbar-header {
		position: relative;
		float: none;

		.navbar-toggle {
			display: block;
			margin-top: 52px;
			margin-bottom: 52px;
			margin-right: 60px;
			border: 0;
			border-radius: 0;

			> .close-btn {
				display: none;
				margin: -1px 5px;
			}

			.icon-bar {
				width: 45px;
				height: 4px;
				background-color: #B6B6B6;
				border-radius: 50px;

				+ .icon-bar {
					margin-top: 10px;
				}
			}

			&:hover {
				background-color: transparent;
			}

			&:focus {
				background-color: transparent;
			}
		}

		&:before {
			content: '';
			position: absolute;
			right: 50px;
			top: 0;
			background-image: url('../img/nav-bg.png');
			background-repeat: no-repeat;
			height: 144px;
		    width: 278px;
		}
	}

	.navbar-brand {
		float: none;

		> img {
			display: inline-block;
			max-width: 100%;
		}
	}

	.navbar-center {
	    position: absolute;
	    left: 50%;
	    top: 10px;
	    transform: translateX(-62%);
	}

	.navigation-content {
		position: relative;
		padding: 70px 30px 210px;
		height: 0;

		.nav-list {
		    a {
		    	display: inline-block;
		    	font-family: @fontFamilyPrimary;
				font-size: 30px;
				line-height: 2em;
			    font-weight: 700;
		    }
		}

		.nav-bottom {
		    position: absolute;
		    bottom: 45px;
		    left: 0;
		    width: 100%;
		    line-height: 4em;

		    .account-social {
		    	> li {
		    		padding-left: 15px;
		    		padding-right: 15px;
		    	}
		    }
		}
	}

	&.opened {
		background-color: @light;

		.navbar-toggle {
			> .close-btn {
				display: block;
			}

			.icon-bar {
				display: none;
			}
		}
	}
}