@import "variables.less";
@import "mixins.less";

.question-step {
	display: inline-block;
	padding: 0;

	> ul {
		text-align: center;
		margin: 0;

		> li {
			font-family: @fontFamilySecondary;
			color: @light;
			font-size: 12px;
			font-weight: 700;
			line-height: 0;
			text-transform: uppercase;

			> img {
				margin-top: 10px;
				filter: brightness(100);
				opacity: .8;
			}

			> span {
				display: block;
				padding: 10px 0;
				margin-bottom: 10px;
			}

			> .dot {
				display: inline-block;
				padding: 0;
				height: 3px;
				width: 3px;
				margin-bottom: 10px;
				background-color: @light;
			}

			&.active {
				color: @baseBg;

				> img {
					filter: brightness(.7);
				}

				> .dot {
					background-color: @baseBg;
				}
			}
		}
	}
}

.quiz-panel {
	padding: 0 80px;

	.quiz-header {

		.title {
			display: inline-block;
			padding-bottom: 20px;
			border-bottom: 2px solid #e6e6e6;

			> img {
				display: inline-block;
				margin-left: 20px;
			}
		}
	}

	.quiz-body {
		padding-top: 10px;
		padding-bottom: 0;
		margin-bottom: 40px;
		font-size: 20px;

		p {
			font-size: 20px;
			margin-bottom: 30px;
		}

		.radio {
			position: relative;
			display: block;
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 0 0 0 40px;

			label {
				display: inline-block;
				padding-left: 5px;
				min-height: 20px;
				margin-bottom: 0;
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					width: 19px;
					height: 19px;
					left: 0;
					margin-top: 5px;
					border: 2px solid #b1b1b1;
					border-radius: 50%;
					background-color: #FFF;
					transition: border 0.15s ease-in-out;
				}

				&:after {
					display: inline-block;
				    position: absolute;
				    content: " ";
				    width: 11px;
				    height: 11px;
				    left: 4px;
				    top: 9px;
				    border-radius: 50%;
				    background-color: #555555;
				    transform: scale(0, 0);
				    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
				}
			}

			input[type="radio"] {
				position: absolute;
				margin: 4px 0 0 -20px;
				line-height: normal;
				box-sizing: border-box;
				padding: 0;
				opacity: 0;

				+ label {
					&:after {
						background-color: @baseBg;
					}
				}

				&:checked {
					+ label {
						&:before {
							border-color: @baseBg;
						}

						&:after {
							background-color: @baseBg;
							transform: scale(1, 1);
						}
					}
				}
			}

			+ .radio {
				margin-top: -5px;
			}
		}

		.answear {
			> h3 {
				margin-bottom: 0;
				color: #9fd399;
			}
		}
	}
}