@import "mixins.less";
@import "variables.less";

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans+Condensed:300,700);

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    overflow-x: hidden;
    color: @baseColor;
    background-image: url(../img/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: @fontFamilyPrimary;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;

    // jika menggunakan preloader
    &.loading {
    	overflow-x: hidden !important;
    	overflow-y: hidden !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @fontFamilyPrimary;
    font-weight: 700;
    padding: 0;
    color: @baseBg;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4em;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

object, embed { 
    outline: 0;
}

input::-moz-focus-inner { 
    border: 0; 
}

a {
    font-family: @fontFamilySecondary;
    color: @baseBg;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    outline: 0;

    &:hover, &:focus, &:active{
    	&:extend(a);
    }

    > .fa {
        font-size: 120%;
        margin: 0 10px;
    }

}