// Fonts Style
@fontFamilyPrimary: 'Roboto Slab', serif;
@fontFamilySecondary: 'Open Sans Condensed', sans-serif;
@baseColor: #666666;
@light: #FFF;

// Base Color
@baseBg: #1a438b;
@darkeBaseBg: darken(@baseBg, 10%);

@shadowColor: #666;